<div class="container">
  <h2>Add Employee Form</h2>
  <form action="" method="POST" [formGroup]="addStudentForm" (ngSubmit)= onSubmit()>
    <div class="form-group">
      <label>Name: </label>
      <input type="text" class="form-control" formControlName="name" id="name" required>
    </div>
    <div class="form-group">
      <label>Ngày Sinh: </label>
      <input type="date" class="form-control" formControlName="birth" id="birth">
    </div>
    <button class="btn btn-success" type="submit" [disabled]="!addStudentForm.valid" id="submit">Add</button>
    <button class="btn btn-danger" type="reset" >Re-Type</button>
  </form>
</div>
